.card {
    border: black solid 1px;
    width: 15vw;
    margin: 10px;
    padding: 10px;
}

.card-details {
}
img{
    float: right;
}

.name{
    size: 2em;
    align-self: flex-start;
}
.id{
    size: 0.5em;
    align-self: flex-start;
}